body {
    background-size: cover;
    background: url("images/bgImage.jpg") center center fixed no-repeat;
    margin: 0;
    padding-top: 80px;
}

#titleBox {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    text-align: center;
}

#title {
    border-radius: 0;
    border: none;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.container {
    border-bottom: 2px solid black;
    box-shadow: 0px 5px 3px -1.5px #545454;
    font-family: Helvetica;
    font-size: 25px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    position: relative;/*for the button*/
    text-align: center;
    width: 470px;
    z-index: 200;
}

#button {
    background-color: orange;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px 1.5px #696969;
    display: inline-block;
    font-size: 25px;
    position: absolute;/*so the 'Online' is properly centered*/
    right: 0px;
    width: 27px;
}

#onlineDiv {
    background-color: orange;
    font-family: Helvetica, arial;
    font-size: 18px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 450px;
}

#button2 {
    background-color: lightgreen;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20%;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px 1.5px #696969;
    display: inline-block;
    font-size: 25px;
    position: absolute;/*so the 'Offline' is properly centered*/
    right:0;
    width: 27px;
}

#button:hover, #button2:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#button:active, #button2:active {
    box-shadow: 0px 1px 1px 1px #545454;
}

#offlineDiv {
    background-color: #b6f6a6;
    font-family: Helvetica;
    font-size: 18px;
    height: auto;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 450px;
}

img {
    border-radius: 100%;
    border: 3px solid lightgray;
    height: 50px;
    margin: 0;
    vertical-align: middle;
    width: 50px;
}

a {
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0 0 3px 1.5px #545454;
    box-sizing: border-box;
    /*so the padding doesn't strech the <a>*/
    color: rgba(0, 0, 0, 0.8);
    display: inline-flex;
    height: 80px !important;
    margin: 5px 0;
    padding: 0 5px;
    position: relative;
    text-decoration: none;
    width: 100% !important;
}

a:hover {
    box-shadow: 0px 3px 3px 1.5px #696969;
}

a:active {
    box-shadow: 0px 1px 1px 1px #545454;
}

.mainInfo {
    align-items: center;
    border-bottom: 2px solid orange;
    display: inline-flex;
    justify-content: center;
    margin: 0 0 0 8px;
}

.offlineInfo {
    display: inline-block;
    margin: 26px 0 0 8px;
    vertical-align: top;
}

a>span {
    align-items: center;
    display: inline-flex;
    font-size: 14px;
    /*inline-flex on the <a> was making float:right;
   to not work, so had to give it position absolute*/
    position: absolute;
    right: 5px;
}

.viewIcon {
    border: 1px solid orange;
    height: 15px;
    margin: 0 3px;
    width: 15px;
}

.viewCount {
    border-bottom: 2px solid orange;
}

@media (max-width:550px) {
    #box {
        width: 100%;
        margin: 0;
    }
    #titleBox, #title {
        width: 100%;
    }
    .container {
        margin: 0 auto;
        width: 98%;
    }
    #onlineDiv, #offlineDiv {
        font-size: 16px;
        margin-bottom: 10px;
        padding:1px 0 0 0;
        /*without this the margin-top:15px;
      to the first element of type <a> inside the
      offline and online divs wouldn't work*/
        /*padding: 0;*/
        width: 98%;
    }
    a {
        display: flex;
        margin-bottom: -10px;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 98% !important;
    }
    #onlineDiv>a:first-of-type, #offlineDiv>a:first-of-type {
        margin-top: 15px !important;
    }
}
